<div class="big-card-container">

  <div class="photo-big-card">
    <img src="{{ photoCover }}" alt="" srcset="" height="">
  </div>

  <div class="name-big-card">
    <h1><a href="https://marvelucm.com/cinema/arte-epica-mostra-tom-cruise-como-homem-de-ferro-com-as-joias-do-infinito/">{{ cardTitle }}</a></h1>
  </div>

  <div class="description-big-card">
    <p>
      <a href="https://marvelucm.com/cinema/arte-epica-mostra-tom-cruise-como-homem-de-ferro-com-as-joias-do-infinito/">{{ cardDescription }}</a>
    </p>
  </div>

</div>
