<div class="big-card-container">

  <div class="photo-big-card">
    <img src="https://th.bing.com/th/id/R.d23c0b965da9fa75129b04f958c847a5?rik=YZGfOIDo1cr1vw&pid=ImgRaw&r=0" alt="" srcset="" height="">
  </div>

  <div class="name-big-card">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="description-big-card">
    <p>
      <a href="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam cum repudiandae molestiae dolores neque perferendis, modi
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit necessitatibus cum eum? Voluptate, voluptatum rerum labore totam provident esse debitis
      </a>
    </p>
  </div>

</div>
