

@media screen and (max-width: 600px){
  .small-card-container {
    width: 200px;
    margin-bottom: 5px;
  }

  .small-card-container-content {
    display: flex;
    flex-direction: row;
  }

  .photo-small-card img {
    width: 90px;
    margin-right: 20px;
  }

  .title-small-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .small-card-separator {
    margin-top: 10px;
  }
}
